<html !DOCTYPE>
<head>
  <link rel="stylesheet" href="/static/css/stylesheet.css" type="text/css"/>
  <script src="//use.typekit.net/uiq7hdf.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script src="/static/js/crossfade_playlist.js"></script>
  <script src="/static/js/buffer_loader.js"></script>
  <script src="/static/js/api.js"></script>
  <script src="/static/js/year.js"></script>
  <script src="/static/js/pubsub.js"></script>

</head>
<body>
  <main>
  <h1 class="logo">TimeGeist</h1>
    <section id="main-input">
      <div class="group">
        <input id="user-year" type="number" value=2001 min=1900 max=2015 required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Year</label>
      </div>
      <div class="button" id="go-time"><span>I want this year!</span></div>
      <div class="button" id="go-random"><span>Show a random year!</span></div>
    </section>
    <section id="track-info">
      <h1>Select a year between 1900 and 2015 to begin! You can also just try a random year.</h1>
      <div id="track-upcoming-container">
        <div id="track-view-container">
          <div class="thumbnail" id="track-image"></div>
          <div id="track-stats">
            <p id="track-name"></p>
            <p id="track-artist"></p>
            <p id="track-notes"></p>
          </div>
        </div>
        <div id="upcoming-tracks"></div>
      </div>
      <div class="track-buttons">
        <div class="button" id="good-track"><span>Good Track!</span></div>
        <div class="button" id="bad-track"><span>Skip</span></div>
      </div>
    </section>
    <section class="message-zone"></section>
  </main>
</body>
<script>

window.onload = init;
var context;
var $go = document.querySelector('#go-time');
var $input = document.querySelector('#user-year');
var $messageZone = document.querySelector('.message-zone');
var activeYear;
var bufferLoader;
var playlist = Object.create(CrossfadePlaylist.prototype, {
  FADE_TIME: {
    value: 1
  }, // Seconds
  playing: {
    value: false,
    writable: true
  },
  playIdx: {
    value: 0,
    writable: true
  },
  trackList: {
    value: [],
    writable: true
  }
});

function init() {
  // Fix up prefixing
  window.AudioContext = window.AudioContext || window.webkitAudioContext;
  context = new AudioContext();
  bufferLoader = Object.create(BufferLoader.prototype, {
    context: {
      value: context,
      writable: true
    },
    trackList: {
      value: [],
      writable: true
    },
    onload: {
      value: playlist.loadTrack.bind(playlist)
    }
  });
  sendMessage('', 'h1');

  // XXX slight hack/necessity to allow sound to play in iOS
  document.querySelector('body').addEventListener('touchstart', playSound, false);
}
// XXX Truly temporary
function playSound(buffer) {
  var source = context.createBufferSource(); // creates a sound source
  source.buffer = buffer;                    // tell the source which sound to play
  source.connect(context.destination);       // connect the source to the context's destination (the speakers)
  source.start(0);                           // play the source now
                                             // note: on older systems, may have to use deprecated noteOn(time);
}

var eventPublished = setInterval(function() {
  if ($input.value) {
    api.getEvents(activeYear);
  } else {
    // TODO error validation or just always have default value
    // $messageZone.textContent = 'You done messed up.';
  }
}, 7000);

// TODO add this to the interface. It's kind of a cool feature
var coastMode = false;
var coasting = setInterval(function() {
  if (coastMode) {
    $input.value = parseInt(activeYear) < 2014 ? parseInt(activeYear) + 1 : 1900;
    fireItUp();
  } else {
    clearInterval(coasting);
  }
}, 25000);

document.onkeyup = function(e) {
  if (e.keyCode === 13) {
    if (activeYear !== $input.value) {
      fireItUp();
    }
  } else if (e.keyCode === 32) {
    if (activeYear !== $input.value) {
      playlist.toggle();
    }
  }
};

$go.addEventListener('click', function(event) {
  if (activeYear !== $input.value) {
    fireItUp();
  }
});

function getRandomArbitrary(min, max) {
  return Math.round(Math.random() * (max - min) + min);
}

document.querySelector('#go-random').addEventListener('click', function(event) {
  $input.value = getRandomArbitrary(1899, 2014);
  if (activeYear !== $input.value) {
    fireItUp();
  }
});

var $trackInfo = document.querySelector('#track-info');
var $goodTrack = document.querySelector('#good-track');
var $badTrack  = document.querySelector('#bad-track');

$trackInfo.querySelector('#track-image').addEventListener('click', function(event) {
  playlist.toggle();
});

$goodTrack.addEventListener('click', function(event) {
  // TODO I do not know
});

$badTrack.addEventListener('click', function(event) {
  playlist.next();
});

var $body = document.querySelector('body');
function fireItUp() {
  if (!$input.validity.valid) {
    console.log('The input is invalid.');
    return false;
  }
  while ($messageZone.firstChild) {
    $messageZone.removeChild($messageZone.firstChild);
  }
  activeYear = $input.value;
  getFontForYear(activeYear);
  //var colorPalette = getYearInfo(activeYear, 'colors');
  //$body.style.backgroundColor = colorPalette.background;

  clearTrackInfo();
  sendMessage('Welcome to ' + activeYear + ' - ' + getMessageForYear(activeYear), 'h1');
  searchTracks($input.value, function(response) {
    console.log($input.value, response);
  });
}

function sendMessage(content, elType) {
  elType = elType || 'p';
  var $p = document.createElement(elType);
  $p.textContent = content;
  $firstP = $messageZone.querySelector(elType);
  $messageZone.insertBefore($p, $firstP);
}

function updateTrackInfo(track) {
  var $name = document.querySelector('#track-name');
  var $artist = document.querySelector('#track-artist');
  //var $notes = document.querySelector('#track-notes');
  $name.textContent = track.name;
  $artist.textContent = track.artist;
  //$notes.textContent = track.notes;
  $trackInfo.style.background = 'none';
  if (track && track.album && track.album.images && track.album.images.length > 1) {
    var albumImgUrl = track.album.images[1].url;
    document.querySelector('#track-image').style.background = 'url(' + albumImgUrl + ') no-repeat';
    document.querySelector('#track-image').style.backgroundSize = 'contain';
    document.querySelector('#track-image').style.display = 'inline-block';
  }
}

function clearTrackInfo() {
  [].forEach.call($trackInfo.querySelectorAll('p, h1'), function($p) {
    $p.textContent = '';
  });
  [].forEach.call($trackInfo.querySelectorAll('.thumbnail'), function($thumbnail) {
    $thumbnail.style.background = 'none';
    $thumbnail.style.display = 'none';
  });
  $trackInfo.querySelector('#track-image').style.display = 'none';
  $trackInfo.style.background = 'url(/static/img/clock.svg) no-repeat scroll center center';
  $trackInfo.style.backgroundSize = 'contain';
}

var addBufferImages = function(tracks) {
  var $upcoming = document.querySelector('#upcoming-tracks');
  while($upcoming.firstChild) {
    $upcoming.removeChild($upcoming.firstChild);
  }
  var $div;
  tracks.forEach(function(track) {
    if (track && track.album && track.album.images && track.album.images.length > 1) {
      $div = document.createElement('div');
      var albumImgUrl = track.album.images[1].url;
      $div.style.background = 'url(' + albumImgUrl + ') no-repeat';
      $div.style.backgroundSize = 'contain';
      $div.className = 'thumbnail upcoming';
      $upcoming.appendChild($div);
    }
  });
};

function searchTracks(year, callback) {
  var trackList;
  api.getSongs(year, function(xhr) {
    trackList = JSON.parse(xhr.responseText);
    trackList = trackList.filter(function(track) {
      return track.preview_url;
    });

    playlist.playIdx = 0;
    playlist.trackList = [];
    bufferLoader.trackList = trackList;
    bufferLoader.load();
  });
};

</script>
</html>
