body {
  font-family: "Gill Sans", Montserrat, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #F0D2D1;
  color: #ca615e; }

.logo::before {
  content: '';
  background: url(/static/img/timegeist.svg) no-repeat;
  width: 40px;
  height: 40px;
  float: left; }

section {
  box-sizing: border-box; }

main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: visible;
  margin: auto;
  width: 1140px;
  height: 100%; }

#track-info {
  display: inline-block;
  width: 50%; }

#main-input {
  position: relative;
  display: inline-block;
  width: 50%;
  text-align: center; }
  #main-input input {
    padding: 20px;
    font-size: 24px;
    color: #5a5a5a;
    border-width: 5px 5px 5px 5px;
    border-color: #ca615e;
    border-style: none solid solid none; }
  #main-input #go-time {
    padding: 10px;
    color: #42CAFD;
    background-color: #fff;
    border: 3px solid #42CAFD;
    margin: 20px auto;
    font-size: 18px;
    width: 250px;
    cursor: pointer; }
    #main-input #go-time:hover {
      background-color: #42CAFD;
      color: #fff; }

.message-zone {
  text-align: left; }
