html {
  box-sizing: border-box;
  margin: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "", Montserrat, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #FFF;
  color: #333333; }

.logo::before {
  content: '';
  background: url(/static/img/timegeist.svg) no-repeat;
  width: 40px;
  height: 40px;
  float: left; }

main {
  position: relative;
  overflow: visible;
  margin: auto;
  padding: 25px; }
  @media screen and (min-width: 1280px) {
    main {
      padding: 0px;
      width: 1140px; } }
  main header {
    padding-top: 20px;
    height: 150px; }
  main #main-input {
    margin: 0 auto;
    font-size: 1.5em; }

.music-controls {
  text-align: center;
  font-size: 5em; }
  .music-controls .control {
    color: #ccc;
    cursor: pointer; }
    .music-controls .control:hover {
      color: #333; }

.group {
  margin-top: 30px; }
  .group .btn {
    width: 100%;
    margin-top: 10px;
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-family: "brandon-grotesque", sans-serif;
    background: #000;
    color: #fff; }
    @media screen and (min-width: 1280px) {
      .group .btn {
        width: calc(50% - 10px); }
        .group .btn:not(:first-child) {
          margin-left: 20px; } }
  .group.track-info {
    height: 150px; }

.column.half {
  display: inline-block;
  width: 50%; }

.column.one-quarter {
  display: inline-block;
  width: 25%; }

.column.three-quarters {
  display: inline-block;
  width: 75%; }

.t-select {
  border: 1px solid #eee;
  border-radius: 3px;
  margin: 0 auto; }
  .t-select select {
    display: inline-block;
    font-size: 1.5em;
    font-family: "brandon-grotesque", sans-serif;
    padding: 5px 8px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none; }
  .t-select .fa {
    font-size: 1.5em; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #42CAFD; }
  to {
    width: 0;
    background: transparent; } }

@-moz-keyframes inputHighlighter {
  from {
    background: #42CAFD; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #42CAFD; }
  to {
    width: 0;
    background: transparent; } }

.tk-thirty {
  font-family: Garamond, Didot; }

.tk-ninety {
  font-family: Garamond, Helvetica; }

.tk-eighty {
  font-family: "Gill Sans", Calibri; }

.tk-aught {
  font-family: Helvetica, sans-serif; }

.tk-ten {
  font-family: Baskerville, "Times New Roman"; }

.fade-enter {
  opacity: 0.01; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in; }

.fade-leave {
  opacity: 1; }

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity .5s ease-in; }
